.app {
  .download-page {
    .download-section {
      transition: opacity .5s linear;
      visibility: visible;
      opacity: 1;

      &.hidden {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .upload-page {
    ul {
      padding-left: 12px;
    }
  }
}
